<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userDicPath</key>
	<string>~/Library/Application Support/hSKK/skk-jisyo.utf8</string>
	<key>otherDics</key>
	<array>
		<dict>
			<key>kind</key>
			<integer>0</integer>
			<key>location</key>
			<string>zipcode/SKK-JISYO.zipcode</string>
		</dict>
		<dict>
			<key>kind</key>
			<integer>0</integer>
			<key>location</key>
			<string>SKK-JISYO.L</string>
		</dict>
	</array>
	<key>inlineCandidateCount</key>
	<integer>4</integer>
	<key>candidateLabel</key>
	<string>asdfjkl</string>
</dict>
</plist>
