.DS_Store
dist
*.hi
*.o
TAGS
*~
_build
_build.database
*_objc.[hm]
*_stub.[hm]
hSKK.app
xcode_proj/hSKK/build
xcode_proj/hSKK/*.xcodeproj/*
!xcode_proj/*.xcodeproj/project.pbxproj
!xcode_proj/*.xcworkspace/contents.xcworkspacedata

