<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hSKK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>hSKKPreferences.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>958EA56919D1440B00B191A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>958EA57C19D1440B00B191A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95B6A5E619F2DD11005CD2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95B6A5FE19F2DD11005CD2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95B6A61019F2DD84005CD2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95B6A62219F2DD84005CD2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95B6A64619F2E180005CD2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95B6A65819F2E180005CD2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95B6A67719F2E4E7005CD2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95B6A68919F2E4E7005CD2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
